body {
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url('./img/cat-space.jpg');
  background-size: cover;
  overflow: hidden;
}
.main {
  margin: 0;
  font-size: 150%;
  color: white;
  text-shadow: 1px 1px 3px black;
}
.main i {
  display:block;
  font-size:180%;
  color:aquamarine;
}
.main p {
  margin:0;
  font-size:150%;
}